<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create From everyone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>New Create vending machine</h1>
        <form method="POST">
        {% csrf_token%}
      <div class="mb-3">
        <label for="vendingMachine_id" class="form-label">vendingMachine_id</label>
        <input type="text" class="form-control" id="vendingMachine_id" name="vendingMachine_id">

        </label>
      </div>
     <div class="mb-3">
        <label for="machine_code" class="form-label">machine_code</label>
        <input type="text" class="form-control" id="machine_code" name="machine_code">


        </label>
      </div>
     <div class="mb-3">
        <label for="located_at" class="form-label">located_at</label>
        <input type="text" class="form-control" id="located_at" name="located_at">


        </label>
     </div>
     <div class="mb-3">
        <label for="capacity" class="form-label">capacity</label>
        <input type="text" class="form-control" id="capacity" name="capacity">


        </label>
     </div>
     <div class="mb-3">
        <label for="payment_method" class="form-label">payment_method</label>
        <input type="text" class="form-control" id="payment_method" name="payment_method">


        </label>
     </div>


      <button type="submit" class="btn btn-primary">Submit</button>
      </form>






    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>